@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    font-family: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    @apply text-4xl font-semibold;
}

h2 {
    @apply text-3xl font-semibold;
}

h3 {
    @apply text-2xl font-semibold;
}

h4 {
    @apply text-xl font-medium;
}

h5 {
    @apply text-lg font-medium;
}

h6 {
    @apply text-base font-semibold;
}

p, span, div {
    @apply text-sm;
}

small {
    @apply text-xs;
}


@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}